@media (min-width: 200px) and (max-width: 640px) {
  .onDesktopOnly {
    display: none;
  }
  .mobFlexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headMob {
    padding-left: 50px;
  }

  .mobCard {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

  .productSizeOnShop {
    max-width: 300px;
    max-height: 180px;
    border-radius: 8px;
  }

  .mtforMob {
    display: none;
    /* position: absolute;
    disp
    margin-top: 0; */
  }
}

@media only screen and (min-width: 1024px) {
  #deskview {
    margin-top: 330px;
    width: 35vw;
  }
  .desktopwidth {
    width: 60vw;
  }
  .onDesktopOnly {
    display: block;
  }
}
