.iconSize {
  font-size: 30px;
  color: white;
}

.useofTagImg {
  width: "45px";
  height: "45px";
}

@media (min-width: 200px) and (max-width: 768px) {
  .video-container {
    position: relative;
    width: 100vw;
    height: 30vh;
  }

  .video-container iframe {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

@media (min-width: 769px) {
  .video-container {
    position: relative;
    width: 100vw;
    height: 80vh;
  }

  .video-container iframe {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
