.productSize {
  max-width: 300px;
  max-height: 290px;
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .cartMob {
    display: block;
  }
  .mobTopMargin {
    margin-top: 80px;
    padding-top: 20px;
  }
  .productSizeMOb {
    max-width: 320px;
    max-height: 320px;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .deskSingle {
    height: 90vh;
    width: 50vw;
  }
  .cartMob {
    display: none;
  }
}
