 
   .deskImg {
    max-width: 100px;  
    max-height:100px; 
  }
 
@media (min-width: 1024px) and (max-width: 1440px) {
  .deskImg {
    max-width: 100px;  
    max-height:50px; 
  }
}
@media only screen and (max-width: 500px) {
  .cartMob {
    display: block;
  }
  .mobTopMargin {
    margin-top: 80px;
    padding-top: 20px;
  }
  .productSizeMOb {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .deskSingle {
    height: 90vh;
    width: 50vw;
  }
  .cartMob {
    display: none;
  }
}
